

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Magaziner Page</title>
</head>
<body>


    <!-- Header Section -->
    <header>
        <h1>Magaziner Management</h1>
    </header>

    <!-- Navigation Bar -->
    <nav>
        <a href="#updateStock">Update Stock</a>
        <a href="#consultOrders">Consult Orders</a>
        <a href="#respondToOrders">Respond to Orders</a>
        <a href="#sendNotification">Send Notification</a>
    </nav>

    <!-- Magaziner Section -->
    <section id="magaziner">
        <h1>Magaziner</h1>

        <!-- Steps for Magaziner -->
        <div class="step">
            <p>Mis à Jour de Stock </p>
            <article class="actions">
                <button class="action">Consulter</button>
                <button class="action">Ajouter</button>
                <button class="action">Supprimer</button>
            </article>
        </div>

        <a class="step" href="#consultOrders">
            <p>Consulter la Commande de Chef Departement</p>
        </a>

        <a class="step" href="#respondToOrders">
            <p>Repondre au Commande de Chef Departement</p>
        </a>

        <button class="sender">
            <p>Envoyer Notification de la Disponibilite au Chef Departement</p>
        </button>

    </section>

</body>
</html>
